ul{
	list-style-type: none;
	display: flex;
}

#grande_image img{
	height: 337px;
	width: 600px;
}

#slider_miniature{
	background-color: black;
	width: 600px;
}

#miniature img{
	height: 56px;
	width: 100px;
}

#slider_grande{
	width: 600px;
	overflow: hidden;
}

#miniature img{
	margin-right: 50px;
}

#miniature img:hover{
	border-style: solid;
	border-width: 3px;
	border-color: white;
}